@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #ffcccc, #ff3333);
}

.contform{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 50px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.errormessage{
  color: red;
  text-align: center;
}

.contmezzi{
  display: flex;
  padding: 10px;
}

.contmezziform{
  max-height: 300px;
  overflow-y: scroll;
}


.selMezzo{

  justify-content: center;
  align-items: center;

}

.contmezzi span{
  margin-right: 20px;
}

.progressbar{
  text-align: center;
}

/* Titolo Prenotazione */
.contform .titlereg{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contform .titlereg::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffcccc, #ff3333);
}


.contform .formpre .userdetails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}


.formpre .userdetails .inputbox{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.formpre .inputbox span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.userdetails .inputbox input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.userdetails .inputbox input:focus,
.userdetails .inputbox input:valid{
  border-color: #3366ff;
}

 .formpre .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .formpre .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .formpre .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 .formpre input[type="radio"]{
   display: none;
 }
 .formpre .button{
   height: 45px;
   margin: 35px 0;
   text-align: center;
 }
 .formpre .button input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #3366ff);
 }
 .formpre .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #3366ff);
  }

 @media(max-width: 584px){

 .contform{
  max-width: 100%;
}
.formpre .userdetails .inputbox{
    margin-bottom: 15px;
    width: 100%;
  }
  .formpre .category{
    width: 100%;
  }
  .contform form .userdetails{
    max-height: 300px;
    overflow-y: scroll;
  }
  .userdetails::-webkit-scrollbar{
    width: 5px;
  }
  
  }

  @media(max-width: 459px){
  .containereg .content .category{
    flex-direction: column;
  }
}
